body{
    text-align: center;
    margin: 0px;
}

body p{
    font-size: 20px;
}

.btn{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 69px;
    width: 100%;
    background-color: burlywood;
    position: fixed;
    top: 0px;

}

.top{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top img{
    max-height: 450px;
    max-width: 370px;
    border: 2px dashed;
    box-shadow: 5px 5px 3px gray;
    border-radius: 10px;
}

.top h1{
    font-size: 170px;
}

.bottom{
    border-top: 2px solid;
    margin-top:50px ;
}

.bottom .special-img img{
    max-height: 450px;
    max-width: 370px;
    box-shadow: 5px 5px 3px gray;
    border-radius: 10px;
}

.picture img{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 99em;
    width: 200px;
    height: 200px;

    
}
.picture .circle-test{
    position: relative;
    border-radius: 99em;
    width: 220px;
    height: 220px;
    background-color: orange;
}
.picture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: yellow; */
    margin-top: 50px;
    margin-bottom: 50px;
}

.bottom-bgcolor{
    background-color: burlywood;
    margin: 200px 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 200px;
}

.special{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

}

.subject{
    background-color: burlywood;
    border-top: 2px solid ;
    margin-top: 50px;
}

.subject img{
    height: 50px;
    width: 50px;
}